@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900;9..40,1000&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --background-main: #1a202c;
  --grey: #364153;
  --neutral: #ffffff;
  --accent: #2fe5a7;
  --secondary: #ff69b4;
  --primary: #605cff;
  --main-transition: 150ms ease-in-out;
}
body {
  width: 100vw;
  height: 100%;
  background-color: var(--background-main);
  font-family: "DM Sans", sans-serif;
  display: flex;
  align-items: center;
}
/* sidebar navigation */
.left-nav {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  width: 80px;
  height: 90vh;
  background-color: var(--grey);
  place-items: center;
  justify-content: space-between;
  margin-top: 40px;
  margin-left: 20px;
  border-radius: 10px;
}
.logo {
  padding-top: 20px;
  justify-self: center;
}

li {
  list-style: none;
}
ul {
  display: grid;
  gap: 30px;
}
.icons {
  filter: brightness(0) saturate(100%) invert(56%) sepia(17%) saturate(212%)
    hue-rotate(177deg) brightness(96%) contrast(84%);
  transition: var(--main-transition);
}
.icons:hover {
  filter: brightness(0) saturate(100%) invert(34%) sepia(99%) saturate(3174%)
    hue-rotate(231deg) brightness(102%) contrast(101%);
}
.bottom-part-nav {
  display: grid;
  gap: 21px;
  place-items: center;
  align-self: center;
}
.account-photo {
  width: 43px;
  height: 43px;
}
