@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --background-main: #1a202c;
  --grey: #364153;
  --neutral: #ffffff;
  --accent: #2fe5a7;
  --secondary: #ff69b4;
  --primary: #605cff;
  --main-grey: #868d98;
  --main-transition: 150ms ease-in-out;
}
body {
  width: 100vw;
  height: 100%;
  background-color: var(--background-main);
  font-family: "DM Sans", sans-serif;
}
.wrapper {
  display: flex;
}
/* sidebar navigation */
.left-nav {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  width: 5vw;
  height: 90vh;
  background-color: var(--grey);
  place-items: center;
  justify-content: space-between;
  margin-top: 40px;
  margin-left: 20px;
  border-radius: 10px;
  transition: 200ms ease-in;
}
.left-nav:hover {
  width: 20vw;
  height: 100vh;
  border-radius: 0;
  margin: 0;
}

.logo {
  padding-top: 20px;
  justify-self: center;
}

li {
  list-style: none;
}
ul {
  display: grid;
  gap: 30px;
}
.link-items {
  filter: brightness(0) saturate(100%) invert(56%) sepia(17%) saturate(212%)
    hue-rotate(177deg) brightness(96%) contrast(84%);
  transition: var(--main-transition);
}
.link-items:hover {
  filter: brightness(0) saturate(100%) invert(34%) sepia(99%) saturate(3174%)
    hue-rotate(231deg) brightness(102%) contrast(101%);
}
.bottom-part-nav {
  display: grid;
  gap: 21px;
  place-items: center;
  align-self: center;
}
.nav-items {
  display: flex;
}
.link-items {
  display: flex;
  justify-content: center;
  text-align: right;
  gap: 20px;
  align-items: center;
  flex-direction: row;
}

a {
  text-decoration: none;
  color: var(--main-grey);
}
.account-photo {
  width: 43px;
  height: 43px;
}
.nav-text {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}

.update-section {
  position: absolute;
  visibility: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}
.purchase-button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--neutral);
  font-size: 12.64px;
  font-weight: 400;
  width: 138px;
  height: 33px;
  background-color: var(--primary);
  border-radius: 10px;
}
.purchase-button:active {
  background-color: var(--background-main);
}

.left-nav:hover .nav-text {
  opacity: 1;
  position: relative;
  visibility: visible;
}
.left-nav:hover .update-section {
  display: flex;
  opacity: 1;
  position: relative;
  visibility: visible;
}

/* Top-Right Area */

.right-side {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 40px 30px;
}

.user-date-selector {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.page-name {
  font-size: 25.63px;
  font-weight: bold;
  color: var(--neutral);
}

input[type="date"] {
  background: var(--grey);
  padding: 10px;
  color: white;
  border-radius: 5px;
  border: none;
  font-size: 16px;
}

::-webkit-calendar-picker-indicator {
  width: 25px;
  height: 25px;
  border-radius: 5px;
  filter: invert(1);
}

/* content-right side */
.first-row {
  padding-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(22%, 258px));
  gap: 4%;
}

.info-cards {
  background-color: var(--grey);
  height: 115px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: var(--main-grey);
}
/* content section */

.elements {
  padding-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(22%, 258px));
  gap: 4%;
}

.text-selection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--neutral);
}
h3 {
  font-weight: 200;
}
.heading-task {
  color: var(--main-grey);
  padding-bottom: 30px;
}

.task-wrapper {
  background-color: var(--grey);
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding: 25px 25px 0px 25px;
}

.checkbox-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
label[for="progress"] {
  font-size: 14.22;
  font-weight: 500;
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  color: var(--grey);
  border: 1px solid var(--main-grey);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--main-transition);
}

input[type="checkbox"]:after {
  color: var(--neutral);
  font-family: "Font Awesome 5 Free";
  content: "\f00c";
  font-weight: 600;
  width: 25px;
  height: 25px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary);
  border-radius: 50%;
  border: none;
  display: none;
}

input[type="checkbox"]:checked {
  background-color: var(--primary);
  border: none;
}

input[type="checkbox"]:checked::after {
  display: block;
  display: flex;
}

.btn {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  gap: 10px;
}

.task-btn-low,
.task-btn-track,
.task-btn-medium {
  width: 72px;
  height: 30px;
  border-radius: 22.5px;
  border: none;
  color: var(--background-main);
  font-weight: 500;
  font-size: 12.64px;
}
.task-btn-medium {
  width: 88px;
  background-color: var(--primary);
}
.task-btn-medium:active {
  background-color: #4e4bd0;
}

.task-btn-low {
  background-color: var(--secondary);
}
.task-btn-low:active {
  background-color: #b0497d;
}

.task-btn-track {
  width: 93px;
  background-color: var(--accent);
}
.task-btn-track:active {
  background-color: #25b785;
}

.text-wrapper {
  padding-bottom: 10px;
}
.tasks {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.para-tasks {
  color: var(--main-grey);
  font-weight: 500;
}

.tasks-stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}

.stats {
  display: flex;
  gap: 10px;
  font-size: 17px;
  color: var(--neutral);
  cursor: pointer;
  align-items: center;
}
.img-stats {
  width: 20px;
  height: 20px;
}
